.calc-body {
  width: 270px;
  height: 380px;
  box-shadow: 0px 0px 25px 0px #aaa;
}

.calc-screen {
  text-align: right;
  color: white;
  background-color: #1c191c;
  line-height: 100px;
  font-size: 3em;
  padding: 0 10px;
  right: 0;
  transform-origin: right;
}

.calc-buttons {
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  width: 58px;
  height: 55px;
  flex-grow: 6;
  align-items: center;
  margin: 0 auto;
  line-height: 55px;
}

.keyboard {
  display: flex;
  border: 1px solid #858694;
}


.key-digits {
  background: #e0e0e7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.operators {
  background: linear-gradient(to bottom, rgba(252,156,23,1) 0%, rgba(247,126,27,1) 100%);
}
